root = true

# Top-most EditorConfig file

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.cs]
# Require braces for all control-flow statements (if/else/for/foreach/while/do)
csharp_prefer_braces = true:warning
